:root {
  --base-padding: 25px;
  --base-color: black;
  --sub-color: rgba(255, 255, 255, 0.5);
  --base-border: 1px solid var(--sub-color);
  --base-font-color: white;
  --sub-background-color: rgba(50, 50, 50, 0.5);
  --wallet-color: yellow;
}
