.news-screen__section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--sub-background-color);
  box-sizing: border-box;
  padding: 15px 15px;
}

.news-screen__row {
  height: 60px;
  justify-content: space-between;
}

.news-screen__row,
.news-screen__column {
  display: flex;
  align-items: center;
}

.news-screen__row:first-child
  .news-screen__column:first-child
  > div:first-child {
  width: 30px;
  height: 30px;
  background-color: tomato;
  border-radius: 10px;
  margin-right: 10px;
}

.news-screen__row:first-child
  .news-screen__column:first-child
  > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.news-screen__row:first-child,
.news-screen__column:first-child span:first-child {
  margin-bottom: 10px;
}

.news-screen__row:first-child .news-screen__column:first-child span:last-child {
  font-size: 11px;
  color: var(--sub-color);
}

.news-screen__row:first-child .news-screen__column:last-child div {
  background-color: var(--base-color);
  padding: 10px 20px;
  border-radius: 20px;
}

.news-screen__row:first-child .news-screen__column:last-child > i {
  margin-left: 30px;
}

.news-screen__row:nth-child(2) span {
  font-size: 20px;
  font-weight: 600;
}

.news-screen__row:nth-child(3) {
  border-top: var(--base-border);
}

.news-screen__row:nth-child(4) {
  border-top: var(--sub-border);
}

.news-screen__row:nth-child(5) {
  border-top: var(--sub-border);
}

.news-screen__row .fa-globe {
  margin-right: 10px;
}

.news-screen__row:nth-child(6) {
  justify-content: flex-end;
  border-bottom: var(--base-border);
}

.news-screen__row:nth-child(6) span,
.news-screen__row:nth-child(6) i {
  margin-left: 10px;
}

.news-screen__row:last-child {
  justify-content: space-evenly;
}

.news-screen__row:last-child div {
  height: 70%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-screen__row:last-child div:first-child {
  border-right: var(--sub-border);
}

.news-screen__row:last-child i,
.news-screen__row:last-child span {
  margin: 0px 5px;
}
