.wallet {
  width: 100%;
  margin-top: 40px;
  background-color: var(--sub-background-color);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 var(--base-padding);
}

.wallet__row {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wallet__column {
  height: 100%;
  display: flex;
  align-items: center;
}

.wallet__row:first-child .wallet__column:first-child span {
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
}

.wallet__row:first-child .wallet__column:last-child span {
  margin-left: 10px;
}

.wallet__row:nth-child(2) {
  width: 100;
  background-color: teal;
  padding: 0px 20px;
  border-radius: 10px;
}

.wallet__row:nth-child(2) .wallet__column:first-child i {
  margin-right: 10px;
}

.wallet__row:nth-child(3) .wallet__column:first-child i {
  margin-right: 10px;
}

.wallet__row:nth-child(3) .wallet__column:first-child span {
  text-transform: uppercase;
}

.wallet__row:nth-child(4) .wallet__column:first-child span {
  margin-right: 20px;
}

.wallet__row:nth-child(4) .wallet__column:first-child span:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0px 20px;
}

.wallet__row:nth-child(4) .wallet__column:last-child span {
  margin-left: 10px;
}
